
!requirements.txt
# Data files (large)
# Environment variables
# IDE
# Jupyter
# Logs
# OS
# Python
# Virtual environments
*$py.class
*.csv
*.egg
*.egg-info/
*.h5
*.h5ad
*.ipynb_checkpoints
*.log
*.parquet
*.pt
*.pth
*.py[cod]
*.so
*.swo
*.swp
*~
.DS_Store
.Python
.eggs/
.env
.idea/
.installed.cfg
.ipynb_checkpoints/
.vscode/
ENV/
Thumbs.db
__pycache__/
backend/.env
backend/llm/.env
build/
develop-eggs/
dist/
downloads/
eggs/
env/
lib/
lib64/
logs/
parts/
sdist/
var/
venv/
wheels/
data/
